@for (round of levelInfo$ | async; track $index) {
<div class="round">
    <h2>Round {{round.roundNb}}</h2>
    <div class="card">
        @for (card of round.cards; track $index) {
        <div>
            <app-card [card]="card" />
            <h3>{{card.name}}</h3>

        </div>
        }
    </div>
    <app-play-button [bgmId]="round.bgmId" [backgroundClass]="'base'" />
    <audio #ostRef id="ostRef">
        <source [src]="this.apiUrl + '/bgm/' + 'bgm_' + (round.bgmId >= 100 ? round.bgmId : '0' + round.bgmId) + '.wav'"
            type="audio/mpeg" />
    </audio>

</div>
}