<ngx-spinner name="card" template="<img src='./header-logo.gif' width='150px' />"></ngx-spinner>
@if (card$ | async; as card) {
<div [class]="'header' ">
    <div class="artwork">
        @if (card.isLegendary) {
        <div class="artwork-anim">
            <canvas #cardArtwork width="0" height="0"></canvas>
        </div>
        } @else {
        <div class="art">
            <div class="card-static-art">
                <img [src]="apiUrl + '/bg/'  + card.thumb + '/' + 'card_' + card.thumb + '_bg.png'" alt="">
                <img [src]="apiUrl + '/bg/'  + card.thumb + '/' + 'card_' + card.thumb + '_character.png'" alt="">
                <img [src]="apiUrl + '/bg/'  + card.thumb + '/' + 'card_' + card.thumb + '_effect.png'" alt="">
            </div>
        </div>

        }

    </div>
    <div class="card">
        <app-card [card]="card" />
        <h2>{{card.name}}</h2>

        @if (card.entranceBgmId) {
        <div class="entry">

            <h2>Intro</h2>
            <button (click)="playOst('entrance')" [class]="card.type.toLowerCase()">{{entranceOstText()}}</button>
            <button (click)="showAnimationComponent(card.entranceFilename)" [class]="card.type.toLowerCase()">Play OST +
                Animation</button>
            <audio #entranceOst id="entranceOst">
                <source [src]="apiUrl + '/bgm/' + 'bgm_' + card.entranceBgmId + '.wav'" type="audio/mpeg" />
            </audio>
        </div>
        }
        @if (card.asBgmId) {
        <div class="active-skill">
            <h2>Active Skill</h2>
            <button (click)="playOst('activeSkill')" [class]="card.type.toLowerCase()">{{activeSkillOstText()}}</button>
            <button (click)="showAnimationComponent(card.asFilename)" [class]="card.type.toLowerCase()">Play OST +
                Animation</button>
            <audio #activeSkillOst id="activeSkillOst">
                <source
                    [src]="apiUrl + '/bgm/' + 'bgm_' + (card.asBgmId >= 100 ?  card.asBgmId : '0'+card.asBgmId) + '.wav'"
                    type="audio/mpeg" />
            </audio>
        </div>

        }

        @if (card.standbyBgmId) {
        <div class="active-skill">
            <h2>Standby Skill</h2>
            <button (click)="playOst('standbySkill')"
                [class]="card.type.toLowerCase()">{{standbySkillOstText()}}</button>
            <button (click)="showAnimationComponent(card.standbyFilename)" [class]="card.type.toLowerCase()">Play OST +
                Animation</button>
            <audio #standbySkillOst id="standbySkillOst">
                <source
                    [src]="apiUrl + '/bgm/' + 'bgm_' + (card.standbyBgmId >= 100 ?  card.standbyBgmId : '0'+card.standbyBgmId) + '.wav'"
                    type="audio/mpeg" />
            </audio>
        </div>
        }

        @if (card.hasFinishSkill) {
        @for (finishSkill of card.finishSkills; track $index) {
        <audio #finishSkillOst [id]="'finishSkillOst' + $index">
            <source
                [src]="apiUrl + '/bgm/' + 'bgm_' + (finishSkill.bgmId >= 100 ?  finishSkill.bgmId : '0'+finishSkill.bgmId ) + '.wav'"
                type="audio/mpeg" />
        </audio>
        <div class="active-skill">
            <h2>Finish Skill ({{finishSkill.name}})</h2>
            <button (click)="playFinishSkillOst($index, finishSkillOst.paused)"
                [class]="card.type.toLowerCase()">{{finishSkillOst.paused || ostUnplayed() ?
                'Play OST' : 'Pause OST'}}</button>
            <button (click)="showAnimationComponent(finishSkill.filename, $index)"
                [class]="card.type.toLowerCase()">Play
                OST +
                Animation</button>
        </div>

        }
        }
    </div>
</div>
@if (showAnimation()) {
<app-animation
    [lwfData]="{prefix: apiUrl + '/animations/' + filename() + '/fr/', lwf: filename() + '.lwf', triggerScene: triggerScene() }"
    (close)="hideAnimationComponent()" />
}
}