@if (error()) {
<app-error [error]="error()" />
}
@if (card$ | async; as card) {
<div [class]="'header' ">
    <div class="artwork">
        @if (card.isLegendary) {
        <div class="artwork-anim">
            <ngx-spinner [fullScreen]="false" bdColor="#000" name="artwork"
                template="<img src='./header-logo.gif' width='150px' />"></ngx-spinner>
            <canvas #cardArtwork width="0" height="0"></canvas>
        </div>
        } @else {
        <div class="art">
            <div class="card-static-art">
                <img [src]="apiUrl + '/bg/'  + card.thumb + '/' + 'card_' + card.thumb + '_bg.png'" alt="">
                <img [src]="apiUrl + '/bg/'  + card.thumb + '/' + 'card_' + card.thumb + '_character.png'" alt="">
                <img [src]="apiUrl + '/bg/'  + card.thumb + '/' + 'card_' + card.thumb + '_effect.png'" alt="">
            </div>
        </div>

        }

    </div>
    <div class="card">
        <app-card [card]="card" />
        <h2>{{card.name}}</h2>
        <div class="play-button">

            @if (card.entranceBgmId && card.entranceFilename) {
            <app-play-button title="Entry" [bgmId]="card.entranceBgmId" [filename]="card.entranceFilename"
                [backgroundClass]="card.type.toLowerCase()"
                (showAnimationComponent)="onShowAnimationComponent($event)" />

            }
            @if (card.asBgmId && card.asFilename ) {
            <app-play-button title="Active Skill" [bgmId]="card.asBgmId" [filename]="card.asFilename"
                [backgroundClass]="card.type.toLowerCase()"
                (showAnimationComponent)="onShowAnimationComponent($event)" />

            }

            @if (card.standbyBgmId && card.standbyFilename) {
            <app-play-button title="Standby Skill" [bgmId]="card.standbyBgmId" [filename]="card.standbyFilename"
                [backgroundClass]="card.type.toLowerCase()"
                (showAnimationComponent)="onShowAnimationComponent($event)" />
            }

            @if (card.hasFinishSkill) {
            @for (finishSkill of card.finishSkills; track $index) {
            @if (finishSkill.bgmId && finishSkill.filename) {
            <app-play-button [title]="'Finish Skill' + ' ('+ finishSkill.name +')'" [bgmId]="+finishSkill.bgmId"
                [filename]="finishSkill.filename" [backgroundClass]="card.type.toLowerCase()"
                (showAnimationComponent)="onShowAnimationComponent($event, $index)" />
            }

            }
            }
        </div>

    </div>
</div>
@if (showAnimation()) {
<app-animation [animationData]="animationData()" (close)="hideAnimationComponent()" />
}
}