<ngx-spinner name="cards" template="<img src='./header-logo.gif' width='150px' />"></ngx-spinner>
<section>
    <div class="search-bar">
        <app-searchbar (cardName)="onSearch($event)" />

    </div>
    @if (result()) {
    <div class="cards">
        @for (card of result()?.cards; track $index) {
        <app-card [card]="card" />
        }
    </div>
    <div class="btn">
        @for (page of nbButton(); track $index) {
        <button (click)="setPage($index+1)">{{$index+1}}</button>
        }

    </div>
    }
</section>


<router-outlet />