<ngx-spinner name="cards" template="<img src='./header-logo.gif' width='150px' />"></ngx-spinner>
<section>
    <div class="search-bar">
        <app-searchbar (searchByName)="onSearchByName($event)" />

    </div>
    @if (loading()) {
    <div class="loading">
        <span>Loading ...</span>

    </div>
    }
    @if (error() ) {
    <app-error error="Cards can't be fetch" />
    }
    @if (noResultFound()) {
    <div class="error">
        <span>No result found</span>
    </div>

    }
    @if (result()) {
    <div class="cards">
        @for (card of result().cards; track $index) {
        <app-card [card]="card" />
        }
    </div>
    <div class="btn">
        @for (page of nbButton(); track $index) {
        <button (click)="setPage($index+1)">{{$index+1}}</button>
        }

    </div>
    }
</section>


<router-outlet />