.event {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 90%;
  margin: 10px auto;
  flex-wrap: wrap;
}

img {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .event {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 90%;
    margin: 10px auto;
  }
  img {
    max-width: 100%;
  }
}
