<nav>
    <div class="logo">
        <div class="logo-img">
            <img class="goku-head" src="gokuhead.jpg" alt="">
            <img class="headphone" src="headphone.jpg" alt="">
        </div>

        <h1 routerLink="/home">Dokkan OST </h1>
    </div>
    <span (click)="openMenu()">|||</span>
    <ul class="desktop">
        <li [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/home">
            Home
        </li>
        <li [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/cards">Cards</li>
        <li routerLink="/events">Events</li>
    </ul>
    @if (isMenuClosed()) {

    <ul class="mobile" @menuAnimation>
        <p (click)="closeMenu()">X</p>
        <li [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/home">
            Home
        </li>
        <li [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/cards">Cards</li>
        <li routerLink="/events">Events</li>
    </ul>

    }
</nav>
@if (!isInfoDivClosed()) {
<div class="info">This site is in alpha version. Some features may be unstable. Thank you for your understanding.

    <img (click)="closeInfo()" src="close_logo.png" alt="">
</div>

}